
## tcp_test
# fork
tcp_test/fork/log/*log
tcp_test/fork/bin/fork_server
tcp_test/fork/bin/fork_client

# select
tcp_test/select/log/*log
tcp_test/select/bin/select_server
tcp_test/select/bin/select_client

# poll
tcp_test/poll/log/*log
tcp_test/poll/bin/poll_server
tcp_test/poll/bin/poll_client

# thread
tcp_test/thread/log/*log
tcp_test/thread/bin/thread_server
tcp_test/thread/bin/thread_client

# epoll
tcp_test/epoll/log/*log
tcp_test/epoll/bin/epoll_server
tcp_test/epoll/bin/epoll_client

## unix_test
unix_test/log/*log
unix_test/bin/unix_server
unix_test/bin/unix_client
unix_test/test_unix_file
