
# fork
fork/log/*log
fork/bin/fork_server
fork/bin/fork_client

# select
select/log/*log
select/bin/select_server
select/bin/select_client

# poll
poll/log/*log
poll/bin/poll_server
poll/bin/poll_client

# thread
thread/log/*log
thread/bin/thread_server
thread/bin/thread_client

# epoll
epoll/log/*log
epoll/bin/epoll_server
epoll/bin/epoll_client
